@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;
  --color-primary-light: #4a90e2;
  --color-secondary-light: #50e3c2;
  --color-background-light: #f5f7fa;
  --color-card-light: #ffffff;
  --color-text-light: #333333;
  --color-muted-light: #9b9b9b;
  --color-primary-dark: #bb86fc;
  --color-secondary-dark: #03dac6;
  --color-background-dark: #121212;
  --color-card-dark: #1e1e1e;
  --color-text-dark: #ffffff;
  --color-muted-dark: #b3b3b3;
}

:root {
  --color-primary-light: #4a90e2;
  --color-secondary-light: #50e3c2;
  --color-background-light: #f5f7fa;
  --color-card-light: #ffffff;
  --color-text-light: #333333;
  --color-muted-light: #9b9b9b;
  /* Dark Mode */
  --color-primary-dark: #bb86fc;
  --color-secondary-dark: #03dac6;
  --color-background-dark: #121212;
  --color-card-dark: #1e1e1e;
  --color-text-dark: #ffffff;
  --color-muted-dark: #b3b3b3;
}


