@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: InterVariable, sans-serif;
  --color-primary: #4a90e2;
  --color-secondary-light: #50e3c2;
  --color-background-light: #f5f7fa;
  --color-card-light: #ffffff;
  --color-text-light: #323232;
  --color-muted-light: #4b4b4b;
  /* --color-primary-dark: #bb86fc; */
  --color-secondary-dark: #03dac6;
  --color-background-dark: #121212;
  --color-card-dark: #1e1e1e;
  --color-text-dark: #eeeeee;
  --color-muted-dark: #a3a3a3;
}

:root {
  /* --color-primary-light: #4a90e2;
  --color-secondary-light: #50e3c2;
  --color-background-light: #f5f7fa;
  --color-card-light: #ffffff;
  --color-text-light: #414141;
  --color-muted-light: #9b9b9b;
  /* Dark Mode */
  /* --color-primary-dark: #bb86fc; */
  /*--color-secondary-dark: #03dac6;
  --color-background-dark: #121212;
  --color-card-dark: #1e1e1e;
  --color-text-dark: #ffffff;
  --color-muted-dark: #b3b3b3; */
  --color-muted-dark: #a3a3a3;
}